section.main-layout {
  min-height: 100vh;
}

.main-layout {
  &__header {
    &.qk-dark {
      background-color: rgba(#000000, 0.8);
      color: rgba(#f5f5f7, 1);
      font-size: 1.05rem;
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 100%;
    align-items: center;

    & > div {
      max-width: #{$content-max-width}px;
    }

    > div.error-page {
      width: 100%;
      max-width: 100%;
      flex: 1 1 100%;
    }
  }
}
